@page
@model Students.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper d-flex justify-content-center align-content-center align-items-center">
        <div>
            <img src="/Login/images/PCB-Logo.png" alt="logo" class="logo" width="120">
        </div>
    </div>
    <h4>@ViewData["Title"]</h4>
    <p>
        Please check your email to reset your password.
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a asp-area="Identity" asp-page="/Account/Login" class="forgot-password-link">Back To Login</a>
    <div>
        <p> Faiza Nasir</p>
        <p>©2023 All Rights Reserved. Privacy and Terms</p>
    </div>
</div>