@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password - AQ Cricket Academy";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}



<div class="card-body">
    <div class="brand-wrapper d-flex justify-content-center align-content-center align-items-center">
        <div>
            <img src="/Login/images/PCB-Logo.png" alt="logo" class="logo" width="120">
        </div>
    </div>
    <form method="post">
        <p style="text-align:center;" class="login-card-description">Enter email to get code</p>
        @*<p style="text-align:center;" class="login-card-description">@ViewData["Title"]</p>*@
        @*<h5>Enter your Email</h5>*@
        <br />
        <br />
        <br />
        <div class="form-group">
            <label asp-for="Input.Email" class="sr-only"></label>
            <input asp-for="Input.Email" class="form-control" placeholder="Email address" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button class="btn btn-block login-btn mb-4" type="submit">Submit</button>
    </form>
    <a asp-area="Identity" asp-page="/Account/Login" class="forgot-password-link">Back To Login</a>
    <div>
        <p style="font-weight:bolder">Faiza Nasir</p>
        <p>©2022 All Rights Reserved. Privacy and Terms</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
