@page
@model AQCricket_ERP.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password - AQ Cricket Academy";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/PCB-Logo.png" alt="logo" class="logo">
    </div>

    <form method="post">
        <p style="text-align:center;" class="login-card-description">@ViewData["Title"]</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" id="first" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" id="password" class="form-control" />
            <i class="far fa-eye" id="togglePassword" style="top: -50px; position: relative; float: right; margin-right: 15px; cursor: pointer;"></i>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" id="password" class="form-control" />
            <i class="far fa-eye" id="togglePassword" style="top: -50px; position: relative; float: right; margin-right: 15px; cursor: pointer;"></i>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-block login-btn mb-4">Reset</button>
    </form>
</div>