@page
@model AQCricket_ERP.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/PCB-Logo.png" alt="logo" class="logo">
    </div>
    <h3>@ViewData["Title"]</h3>
    <p>
        Your password has been reset.
    </p>
    <a asp-page="./Login" class="btn btn-block login-btn mb-4">Login to your account</a>
    <br />
    <br />
    <br />
    <br />
    <div>
        <p> Faiza Nasir</p>
        <p>©2023 All Rights Reserved. Privacy and Terms</p>
    </div>
</div>